<!DOCTYPE html>
<html>

  <head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>



<script>
    $(function(){
     $.getJSON("/_stuff", // Your AJAX route here
      function(data) {
           $("#result").text(data.result);
      }
     );
     setTimeout(arguments.callee, 1000);
    })();
</script>

    <meta charset="utf-8">
    <title>Scoreboard</title>

  </head>

  <body>
    <div style="margin:5px 10px 15px 20px"><p ></p>{{ username }}</div>
    <div><p>&nbsp;</p></div>
    <div  style="text-align:center">
      <b><font size="8">The score is </font> <font size="8" id=result> None</font></b>
    </div>


    <div style="margin:5px 10px 15px 20px">
        <p>&nbsp;</p>

        <form method="POST" action="endpoint">
            <font size="5">Endpoint &nbsp; &nbsp;</font>
            <input name="text" size="50">&nbsp;&nbsp;&nbsp;
            <input type="submit"  />
          </form>
          <font size="5"><p>Your endpoint is : {{ endpoint }}</p></font>
    </div>


    <div style="margin:20px 10px 15px 20px">
        <form method="POST" action="endpoint_translate">
            <font size="5">Endpoint Translate   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>&nbsp;&nbsp;
            <input name="endpoint_translate" size="20" >&nbsp;&nbsp;&nbsp;
            <input type="submit" />
          </form>
          <font size="5"><p>Your endpoint is : {{ endpoint_translate }}</p></font>
    </div>

    <div style="margin:20px 10px 15px 20px">
        <ol>
            <!-- For loop logic of jinja template -->
            {%for i in range(0, len)%}

                <li>{{username_all[i]}}</li>
            {%endfor%}
          </ol>
    </div>

  </body>
</html>