<!DOCTYPE html>
<html>
    
  <head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>



<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    (function(){
     $.getJSON(
      $SCRIPT_ROOT+"/_stuff", // Your AJAX route here
      function(data) {
           $("#result").text(data.result);
      }
     );
     setTimeout(arguments.callee, 1000);
    })();
</script>


      
    <meta charset="utf-8">
    <title>Scoreboard</title>
   
  </head>
    
  
  <body>
    <div><p>&nbsp;</p></div>
    <div  style="text-align:center">
      <b><font size="8">The score is </font> <font size="8" id=result> None</font></b>
    </div>


    <div style="margin:5px 10px 15px 20px">
        <p>&nbsp;</p>
        
        <form method="POST" action="endpoint">
            <font size="5">Endpoint &nbsp; &nbsp;</font>
            <input name="text" size="50">&nbsp;&nbsp;&nbsp;
            <input type="submit"  />
          </form>
          <font size="5"><p>Your endpoint is : {{ endpoint }}</p></font>
    </div>
   <div style="margin:5px 10px 15px 20px">
    <table>
      <tr >
         <td width="40%" >
            <font size="5"><h3>Rule</h3></font>    
        </td>
      </tr>
      <tr>
        <td>
          <font size="5"><b>Header_Name : </b>10 points</font></br>
          <font size="5"><b>Header_Version -v1 : </b>10 points</font></br>
          <font size="5"><b>Header_Version -v2 : </b>20 points</font></br>
          <font size="5"><b>Header_Type -EC2 : </b>10 points</font></br>
          <font size="5"><b>Header_Type -ECS : </b>20 points</font></br>
        </td>
      </tr>
    </table>
  </div>  

  <div style="margin:50px 10px 15px 20px"> 
      <form method="POST" action="version">
          <font size="5">Version time setting &nbsp; &nbsp;</font>
          <input name="version" size="20" placeholder="2019-8-8">&nbsp;&nbsp;&nbsp;
          <input type="submit" name="reset" />
        </form>
  </div>


  <div style="margin:20px 10px 15px 20px"> 
      <form method="POST" action="type">
          <font size="5">Type time setting   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>&nbsp;&nbsp;
          <input name="type" size="20" placeholder="2019-8-8">&nbsp;&nbsp;&nbsp;
          <input type="submit" name="reset" />
        </form>
  </div>

  <div style="margin:20px 10px 15px 20px"> 
    <form method="POST" action="endpoint_translate">
        <font size="5">Endpoint Translate   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>&nbsp;&nbsp;
        <input name="endpoint_translate" size="20" >&nbsp;&nbsp;&nbsp;
        <input type="submit" />
      </form>
      <font size="5"><p>Your endpoint is : {{ endpoint_translate }}</p></font>
</div>



    <div style="margin:20px 10px 15px 20px"> 
        <form method="POST" action="reset">
            <font size="5">reset &nbsp; &nbsp;</font>
            <input type="submit" name="reset" value="Reset"/>
          </form>
    </div>






  </body>
</html>




